---
import { Faq } from "@/components/Faq";
import { PageHeader } from "@/components/PageHeader";
import RichText from "@/components/RichText.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import {
  bySort,
  getCollection,
  getPage,
  setContentCacheHeaders,
} from "@/lib/content";

const { page: about, isPreview } = await getPage("about");
const questions = (await getCollection("qna")).sort(bySort);

setContentCacheHeaders(Astro, { isPreview });
---

<MainLayout title="About" description="About">
  <div class="container max-w-2xl">
    <PageHeader>About Us</PageHeader>
    <div class="prose mx-auto mt-10 dark:prose-invert">
      <RichText value={about.data.content} />
    </div>
    <div>
      <h2 class="mt-4 text-2xl text-primary">Frequently Asked Questions</h2>
      <div class="mt-2">
        <Faq
          client:visible
          items={questions.map((qna) => ({
            id: qna.id,
            question: qna.data.question,
            answer: qna.data.answer ?? [],
          }))}
        />
      </div>
    </div>
  </div>
</MainLayout>
