---
import { PageHeader } from "@/components/PageHeader";
import MainLayout from "@/layouts/MainLayout.astro";
import { loadItems, loadSingleton } from "@/lib/cache";
import { getDirectusClient } from "@/lib/directus";

const directus = getDirectusClient(Astro);
const about = await loadSingleton(Astro, directus, "about");
const questions = await loadItems(Astro, directus, "qna");
---

<MainLayout title="About" description="About">
  <div class="container max-w-2xl">
    <PageHeader>About Us</PageHeader>
    <div class="prose mx-auto mt-10 dark:prose-invert" set:html={about.body} />
    <div>
      <h2 class="mt-4 text-2xl text-primary">Frequently Asked Questions</h2>
      <div class="mt-2 flex flex-col gap-4">
        {
          questions.map((qna, i) => (
            <details open={i === 0}>
              <summary class="cursor-pointer">{qna.question}</summary>
              <div
                class="prose border-l-2 border-primary pl-4 pt-2 dark:prose-invert"
                set:html={qna.answer}
              />
            </details>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
