---
import MainLayout from '@/layouts/MainLayout.astro';
import { Button } from '@/components/ui/button'
---

<MainLayout>
    <div class="flex items-center justify-center flex-col my-8 xl:my-[20vh]">
        <div class="flex items-center text-center lg:text-start lg:items-start justify-center flex-col">
            <h2 class="text-4xl font-semibold lg:pl-6 uppercase">Austin</h2>
            <h1 class="text-8xl text-primary font-semibold leading-none m-0 uppercase">Rubber Roundup</h1>
            <h3 id="event-date" class="self-center mt-12 text-5xl text-alternate font-bold">
            </h3>
        </div>
    </div>
    <div class="flex items-center justify-center">
      <a href="https://www.tickettailor.com/events/boopsocietyctx/1001871" title="Registration Link">
        <Button variant="link" className='text-2xl'>Event Registration and Tickets 🔗</Button>
      </a>
    </div>
</MainLayout>
