---
import { PageHeader } from "@/components/PageHeader";
import MainLayout from "@/layouts/MainLayout.astro";
import { loadSingleton } from "@/lib/cache";
import { getDirectusClient } from "@/lib/directus";

const directus = getDirectusClient();
const contactPage = await loadSingleton(Astro, directus, "contact_page");
---

<MainLayout title="About" description="About">
  <div class="container max-w-2xl">
    <PageHeader>Contact Us</PageHeader>
    <div
      class="prose mx-auto mt-10 dark:prose-invert"
      set:html={contactPage.Information}
    />
  </div>
</MainLayout>
