---
import { PageHeader } from "@/components/PageHeader";
import RichText from "@/components/RichText.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { getPage, setContentCacheHeaders } from "@/lib/content";

const { page: contactPage, isPreview } = await getPage("contact");

setContentCacheHeaders(Astro, { isPreview });
---

<MainLayout title="About" description="About">
  <div class="container max-w-2xl" {...contactPage.edit}>
    <PageHeader {...contactPage.edit.title}>{contactPage.data.title}</PageHeader>
    <div class="prose mx-auto mt-10 dark:prose-invert" {...contactPage.edit.content}>
      <RichText value={contactPage.data.content} />
    </div>
  </div>
</MainLayout>
