---
// TODO: There's no reason this page couldn't be split up into "multiple" cached pages.
import MainLayout from "@/layouts/MainLayout.astro";
import { Calendar } from "@/components/events/calendar";
import { getDirectusClient } from "@/lib/directus";
import { readItems } from "@directus/sdk";
import { PageHeader } from "@/components/PageHeader";
import { getCollectionCache } from "@/lib/cache";

const directus = getDirectusClient(Astro);
const events = await getCollectionCache(
  Astro,
  "events",
  async () =>
    await directus.request(
      readItems("events", { fields: ["*", "venue.*" as "venue"] }),
    ),
);
---

<MainLayout title="Events" description="Event Calendar">
  <div class="mt-6 flex w-full items-center justify-center lg:mt-9">
    <div class="container h-fit w-full max-w-4xl px-0 md:px-8">
      <PageHeader>Event Schedule</PageHeader>
      <Calendar
        events={events}
        params={Object.fromEntries(Astro.url.searchParams.entries())}
        client:load
      />
    </div>
  </div>
</MainLayout>
