---
import MainLayout from "@/layouts/MainLayout.astro";
import { Calendar } from "@/components/events/calendar";
import { getDirectusClient } from "@/lib/directus";
import { readItems } from "@directus/sdk";

const directus = getDirectusClient();
const dateFormatter = new Intl.DateTimeFormat(["en-US"], {
  weekday: "long",
});
const timeFormatter = new Intl.DateTimeFormat(["en-US"], {
  timeStyle: "short",
});

const events = await directus.request(readItems("events"));
---

<MainLayout title="Events" description="Event Calendar">
  <div class="mt-6 flex w-full items-center justify-center lg:mt-9">
    <div class="container h-fit w-full max-w-4xl">
      <h1 class="text-center text-4xl font-medium text-primary">
        Event Schedule
      </h1>
      <Calendar events={events} params={Astro.params} client:load />
    </div>
  </div>
</MainLayout>
