---
import { Mail } from 'lucide-react';
import { SiX, SiInstagram, SiFacebook, SiTelegram, SiBluesky } from '@icons-pack/react-simple-icons';
import { Separator } from '@/components/ui/separator';
---

<Separator className="bg-alternate/50" />
<footer class="container flex items-center justify-between py-4">
	<div class="shrink text-sm font-thin">
		©️ Austin Rubber Roundup {new Date().getFullYear()}. All Rights Reserved
	</div>
	<div class="flex space-x-4">
		<a href="https://x.com/austinrubberroundup" class="inline-flex items-center hover:text-primary">
			<SiX />
		</a>
		<a
			href="https://bsky.app/profile/atxrubberroundup.bsky.social"
			class="inline-flex items-center hover:text-primary"
		>
			<SiBluesky /> </a
		>
		<a href="https://instagram.com/austinrubberroundup" class="inline-flex items-center hover:text-primary">
			<SiInstagram />
		</a>
		<a href="https://facebook.com/austinrubberroundup" class="inline-flex items-center hover:text-primary">
			<SiFacebook />
		</a>
		<a href="https://t.me/austinrubberroundup" class="inline-flex items-center hover:text-primary">
			<SiTelegram />
		</a>
		<a href="mailto:atxrubberroundup@gmail.com" class="inline-flex items-center hover:text-primary">
			<Mail />
		</a>
	</div>
</footer>
