---
export const prerender = true;
import { Image } from 'astro:assets';
import Logo from '@/../public/logo.svg';

import { DesktopMenu, MobileMenu } from './NavMenu';
import { getDirectusClient } from '@/lib/directus';
import { readItems } from '@directus/sdk';
import type { NavigationItem } from '@/lib/collections';

const client = getDirectusClient(Astro);
const navigationItems = await client.request(
	readItems('navigation', { fields: ['*', { children: ['*', { children: ['*'] }] }] })
);
const navRoot = navigationItems.find((item) => item.name === 'root')!;
const menuItems = navRoot.children as NavigationItem[];
---

<div
	class="h-18 w-full border-b-2 border-b-alternate/50 px-4 py-4 pr-(--scrollbar-width,0) shadow-md shadow-alternate/20"
>
	<nav class="container flex h-full flex-row gap-x-4">
		<div class="flex shrink-0">
			<a href="/">
				<Image src={Logo} alt="Austin Rubber Roundup Logo" class="-my-1 h-12 w-12" />
			</a>
			<span class="sr-only text-2xl"> Austin Rubber Roundup</span>
		</div>
		<div class="flex grow flex-row justify-end lg:justify-center">
			<DesktopMenu path={new URL(Astro.url).pathname} items={menuItems} client:only="react" />
			<MobileMenu path={new URL(Astro.url).pathname} items={menuItems} client:visible />
		</div>
	</nav>
</div>
