---
import { Image } from "astro:assets";
import Logo from "@/../public/logo.svg";

import { NavMenu } from "./NavMenu";
---

<div class="h-[4.5rem] w-full border-b-2 border-b-alternate/50 px-4 py-4">
  <nav class="container flex h-full flex-row gap-x-4">
    <div class="flex flex-shrink-0">
      <Image
        src={Logo}
        alt="Austin Rubber Roundup Logo"
        class="my-[-0.25rem] h-12 w-12"
      />
      <span class="sr-only text-2xl"> Austin Rubber Roundup</span>
    </div>
    <div class="flex flex-grow flex-row justify-end md:justify-center">
      <NavMenu path={new URL(Astro.url).pathname} client:load />
    </div>
  </nav>
</div>
