---
import Logo from '@/../public/logo.svg';

import { DesktopMenu, MobileMenu } from './NavMenu';
import { getMenu } from 'emdash';

const menu = await getMenu('primary');
const menuItems = menu?.items ?? [];
---

<div
	class="h-18 w-full border-b-2 border-b-alternate/50 px-4 py-4 pr-(--scrollbar-width,0) shadow-md shadow-alternate/20"
>
	<nav class="container flex h-full flex-row gap-x-4">
		<div class="flex shrink-0">
			<a href="/">
				<img src={Logo.src} alt="Austin Rubber Roundup Logo" class="-my-1 h-12 w-12" />
			</a>
			<span class="sr-only text-2xl"> Austin Rubber Roundup</span>
		</div>
		<div class="flex grow flex-row justify-end lg:justify-center">
			<DesktopMenu path={new URL(Astro.url).pathname} items={menuItems} client:only="react" />
			<MobileMenu path={new URL(Astro.url).pathname} items={menuItems} client:visible />
		</div>
	</nav>
</div>
