---
// TODO: There's no reason this page couldn't be split up into "multiple" cached pages.
import { Button } from "@/components/ui/button";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Events" description="Event Calendar">
  <link slot="head" rel="preconnect" href="https://www.tickettailor.com" />
  <link
    slot="head"
    rel="preload"
    href="https://cdn.tickettailor.com/js/widgets/min/widget.js"
    as="script"
    crossorigin="anonymous"
  />

  <div class="mt-6 flex w-full items-center justify-center lg:mt-9">
    <!-- Ticket Tailor Widget. Paste this into your website where you want the widget to appear. Do not change the code or the widget may not work properly. -->
		<div class="tt-widget">
			<div class="tt-widget-fallback">
				<p>
					<a 
						href="https://www.tickettailor.com/all-tickets/atxrubberroundup/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true" 
						target="_blank"
					>
						Click here to buy tickets
					</a>
					<br />
					<small>
						<a 
							href="https://www.tickettailor.com?rf=wdg_190192" 
							class="tt-widget-powered"
						>
							Sell tickets online with Ticket Tailor
						</a>
					</small>
				</p>
			</div>
			<script 
				src="https://cdn.tickettailor.com/js/widgets/min/widget.js" 
				data-url="https://www.tickettailor.com/all-tickets/atxrubberroundup/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true" 
				data-type="inline" 
				data-inline-minimal="true" 
				data-inline-show-logo="false" 
				data-inline-bg-fill="false" 
				data-inline-inherit-ref-from-url-param="" 
				data-inline-ref="website_widget"
			>
			</script>
		</div><!-- End of Ticket Tailor Widget -->
  </div>
</MainLayout>

<style>
  .tt-widget {
    @apply max-w-xl md:w-[50vw];
  }
</style>
